body {
	padding: 4% 48% 4% 4%;
	font: 200% Verdana, Helvetica, Arial, sans-serif;
	background: #111;
	color: #f7f7f7;
}

h1 {
	display: none;
}
header h1 {
	display: block;
}
nav ul {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}
nav .actions li {
	display: inline;
}


/* buttons */
a,
button,
input[type=button],
input[type=submit] {
	font: inherit;
	background: inherit;
	color: #ccc;
	margin-left: -1em;
	padding: 1em;
	text-align: left;
	display: inline-block;
	border: 2px solid transparent;
	border-radius: .3em;
	text-decoration: none;
	outline: none;
}
a:focus,
button:focus,
input[type=button]:focus,
input[type=submit]:focus {
	color: #fff;
	border-color: #000;
	box-shadow: 0 0 .5em .5em aqua;
	background: rgb(174,188,191);
	background: -moz-linear-gradient(top, rgba(174,188,191,1) 0%, rgba(110,119,116,1) 50%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%);
	background: -webkit-linear-gradient(top, rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%);
	background: -o-linear-gradient(top, rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%);
	background: -ms-linear-gradient(top, rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%);
	background: linear-gradient(top, rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%);
}


/* poster images */
#poster {
	max-width: 44%;
	position: fixed;
	top: 4%;
	right: 2%;
}
figure > img {
	width: auto;
	height: auto;
	max-height: 80%;
}


/* now playing */
strong.status {
	color: green;
	text-decoration: blink;
}


/* styling input widgets */
input:not([type]),
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
input[type=date],
input[type=time],
input[type=datetime],
input[type=number],
select,
textarea {
	font-size: 100%;
	padding: .3em;
	max-width: 90%;
	background: #333;
	color: #f7f7f7;
	border: .1em solid #777;
	border-radius: 3px;
}
/* buttons */
input[type=button],
input[type=submit],
input[type=image],
input[type=reset] {
	cursor: pointer;
}
/* large boxes and lists */
textarea {
	width: 90%; /* allow for padding */
	max-width: 50em;
}
select {
	overflow: hidden; /* prevent wide select lists from destroying layout */
}


/* movie list view */
#movies a {
	display: block;
}
#movies img.oflc {
	height: 1.5em;
}